.App {
  text-align: center;
  background-color: #201E20;
  height: auto;
}

.Data {
  max-width: 840px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 30%;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #D6B998;
  border-radius: 4px;
  box-sizing: border-box;
}

.generate button {
  display: block;
  margin: 0 auto;
  background-color: #82B471;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.generate button:hover {
  background-color: #6a935c;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.generated-img {
  width: 400px;
  margin-bottom: 20px;
}
