.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6c5ce7;
  color: white;
}

.Home h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.button-container button {
  background-color: #a29bfe;
  color: white;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-container button:hover {
  background-color: #6c5ce7;
}
