@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;800&display=swap');

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #6c5ce7;
  color: #E49E5F;
  background-color: #201E20;
  font-family: 'JetBrains Mono', monospace;
  font-size: 3rem;
}

.home-top-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-top-section img{
  width: 100px;
  height: 100px;
}

.home-top-section h3{
  font-size: 1.25rem;  
  text-align: center;
  color: #FFFFFF;
}

.Home h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  max-width: 100vw;
  min-width: 100vw;
}

.button-container img{
  width: 90vw;
}

.button-container button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #201E20;
}

.button-container img{
  padding: 0;
  margin: 0;
}

.button-container button:hover{
  background-color: #E49E5F;
}